<ion-view title="" hide-back-button="true" id="page10">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-alert-circled"> Emergency</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-contacts"> Send</button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/7uyh0upSSqGRdui0P3hw_1hi.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page10-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:14px;">Kaiser Permanente San Francisco Hospital</p>

      <p style="color:#000000;font-size:14px;">For Emergencies call 911</p>
    </div>
    <h1 id="page10-heading2" style="color:#000000;text-align:center;">Symptoms Input</h1>
    <form id="page10-form13" class="list">
      <label class="item item-input item-floating-label" id="page10-input11">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <button id="page10-button7" class="button button-calm button-block">Take a Picture</button>
      <button id="page10-button8" class="button button-calm button-block">Call Your Doctor!</button>
    </form>
  </ion-content>
</ion-view>